.theme-dark .item-1Yvehc {
	color: hsla(0, 0%, 100%, .6)
}

.theme-dark .item-1Yvehc:hover {
	background: #040405;
	color: #fff
}

.theme-dark .item-1Yvehc.disabled-2xniQf {
	color: grey
}

.theme-dark .item-1Yvehc.disabled-2xniQf:hover {
	background: transparent !important
}

.theme-dark .itemGroup-1tL0uz {
	border-color: hsla(0, 0%, 96.1%, .08)
}

.item-1Yvehc {
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 2px 0;
    padding: 6px 9px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 5px;
}
